{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<br>Google maps:
{{ form_start(form) }}
            {% for flash_message in app.session.flashBag.get('list_error') %}
                <div class="col-sm-offset-2" style="color: red">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
<input type="submit" class="btn btn-success" style="width: 100%"  value="Save">
{{ form_end(form) }}