{% extends 'base.html.twig' %}
{% block bs_theme %}{{gs.bsTheme }}{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header %}
    {{ render(controller('CMSBundle:RenderPartials:header')) }}
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <legend>{{ user.username }}</legend>
        {{ form_start(form) }}
            {{ form_row(form.isActive) }}
            {{ form_row(form.role) }}
            <input type="submit" class="btn btn-success col-sm-offset-2" value="Save">
        {{ form_end(form) }}
    </div>
{% endblock %}