{% extends 'base.html.twig' %}
{% block bs_theme %}{{gs.bsTheme }}{% endblock %}

{% block header %}
    {{ render(controller('CMSBundle:RenderPartials:header')) }}
{% endblock %}

{% block body %}
    <div  style="margin-left:80px;margin-right:80px; padding : 20px; min-width : 300px; background-color: rgba(0,0,0,1); color: white">
        <label><h2>Pages</h2></label>
        <hr>
        <table class="table" style="border: 1px solid; border-color: white">
            <thead>
                <tr>
                    <th>
                        name
                    </th>
                    <th>
                        category
                    </th>
                    <th>
                        preview
                    </th>
                    <th>
                        edit content / delete
                    </th>
                    <th>
                        page properties
                    </th>
                </tr>
            </thead>
            <tbody style="border: 1px solid; border-color: white">
            {% for page in pages %}
                <tr>
                    <td>
                        {{ page.title }}
                    </td>
                    <td>
                        {% if page.pageCategory != null %}
                        {{ page.pageCategory.name}}
                        {% endif %}
                    </td>
                    <td>
                        link
                    </td>
                    <td>
                        {% if page.slug != 'home'  %}
                            <a href="{{ path('editPage',{'slug':page.slug}) }}">edit content</a>  /
                            <a href="{{ path('deletePage',{'slug': page.slug}) }}" style="color: red">delete</a>
                        {%   else %}
                            <a href="{{ path('editPage',{'slug':page.slug}) }}">edit content</a>
                        {%  endif %}
                    </td>
                    <td>
                        <a href="{{ path('page_properties',{'slug':page.slug}) }}"><span class="glyphicon glyphicon-wrench"> properties</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('new_page') }}" class="btn btn-success">create new</a>
        <hr>
        <a href="{{ path('add_categories') }}">manage categories</a>
    </div>

{% endblock %}