{% extends 'base.html.twig' %}
{% block bs_theme %}{{gs.bsTheme }}{% endblock %}

{% block header %}
    {{ render(controller('CMSBundle:RenderPartials:header')) }}
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div  style="margin-left:80px;margin-right:80px; padding : 20px; min-width : 300px;" class="jumbotron">
        {% if categories != null %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Category name
                        </th>
                        <th>
                            Delete category
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                {{ category.name }}
                            </td>
                            <td>
                                <a  href="{{ path('delete_category',{'categoryId':category.id}) }}" class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <hr>
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <input type="submit" class="btn btn-success col-sm-offset-2"  value="ok">
        {{ form_end(form) }}
    </div>
{% endblock %}